.board {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #3C4556;
}

.actionsContainer {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.actions > * {
  margin-bottom: 10px;
}

