.header {
  height: 23px;
  background: #323947;
  color: #778899;
  font-family: 'Source Sans Pro', monospace;
  font-size: 12px;
  user-select: none;
  text-align: center;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background: #363F4E;
  position: relative;
}

.container {
  /*-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);*/
  /*-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);*/
  /*box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);*/
}

