.pad {
  background-color: #3C4556; 
  width: 30px;
  height: 30px;
  border-radius: 1px;
  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
}

.label {
  color: #323947;
  font-family: 'Source Sans Pro', monospace;
  font-size: 10px;
  pointer-events: none;
  user-select: none;
  text-align: center;
}

.label__active {
  composes: label;
  color: #7FDBFF;
}

.line {
  height: 2px;
  width: 60%;
  background: #ffffff;
  margin: 5px;
}

.line__active {
  composes: line;
  background: #7FDBFF;
}
